header {
    margin-left: 25px;
    margin-right: 25px;
}

header p {
    font-size: 14px;

}

main p {
    font-size: 14px;

}

body {
    background-color: #e0d6d6;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;

}

h1 {
    font-family: Verdana;
    font-weight: lighter;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #663bb6;

}

h4 {
    font-family: sans-serif;
    font-weight: strong;

}

ul {
    font-family: sans-serif;
    font-weight: normal;
    padding-top: 5px;

}

li {
    padding-top: 10px;
    padding-bottom: 10 px;
    padding-left: 10px;

}
img {
    height: 300px;
    width: 400px;

}

p {
    font-family: Tahoma;

}

section {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px; 
}

#ital {
    font-style: italic;
    font-weight: strong;

}

.bold {
    font-style: oblique;

}

footer {
    text-align: center;
}

footer p {
    display: inline-block;
}
